body {
    overflow: hidden;
}

nav {
    float: right;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
}

#logo {
    display: block;
}

input[type="search"] {
    display: block;
}

footer {
    position: relative;
    margin-top: 22rem;
    bottom: 0;
    left: 0;
}